.header{
  padding: 5px;
  background-color: yellow;
}

.main_note{
   height: 130px;
   width: 200px;
    border: 2px;
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
   margin-left: 750px;
}
.forming{
  padding: 10px;
  gap: 2px;
}
.Note{
  margin-left: 10px;
  width: 150px;
  height:150px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}

.note {
  margin-left: 10px;
  width: 150px;
  height:150px;
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px #888888;
  
}

/* App.css */
.note-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
  margin-left: 100px;
  margin-top: 10px; 
  border: 2px solid blue;
  margin-right: 80px;
  background-color: bisque;/* Adjust the gap between cards as needed */
}

.note-container {
  /* Add styles for the individual note container as needed */
}

.pagination{
  margin-left: 600px;
  justify-content: center;
  margin-top: 20px;
}
